<div class="container form">
  <h2>Edit <%= @works.id %></h2>
  <form method="post" action="/<%= @works.id %>/edit">
    <input type="hidden" name="_method" value="PUT">

    <input type="text" name="name="left_breast" value="<%= @works.left_breast %>">
    <input type="text" name="name="right_breast" value="<%= @works.right_breast %>">

    <input type="submit" name="" value="UPDATE" class="form__submit">
  </form>
</div>