<div class="container form">
  <h2>Input</h2>

  <form method="post" action="/breast">
    <div id="breast"></div>
    <input type="submit" name="" value="post" class="form__button form__button__submit">
  </form>

  <form method="post" action="/bottle">
    <div id="bottle"></div>
    <input type="submit" name="" value="post" class="form__button form__button__submit">
  </form>

</div>

<div class="container data">
  <h2>Output</h2>
  <div id="out"></div>
</div>